header{
	background color: MintCream	
}

body { 
	background-color: MintCream
 }
h1{
	font-size:50px;
	color:Salmon;
	font-family: 'Indie Flower', cursive;
	text-align: left;
	width: 250px;
	padding: 5px;
}

.nav{
	background-color: CornFlowerBlue; 
	color: white;
	margin:20px;
    padding: 14px 25px;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
.nav-link{  
	margin: 20px;
	color: White;
}

.nav-link:hover {
	color: blue;
}
.nav-link:active {
	color: White;
}
/* unvisited link */
ul:link {
    color: CornFlowerBlue;
}

/* visited link */
ul:visited {
    color: White;
}

/* mouse over link */
ul:hover {
    color: Salmon;
}

/* selected link */
ul:active {
    color: CornFlowerBlue;
}


ul:link, ul:visited {
    display: inline-block;
}

.gif{
	text-align: center;
}

h2{
	text-underline-position: center;
	text-align: center;
	font-size:35px;
	color:Salmon;
	font-family: 'Indie Flower', cursive;
	padding: 5px; 
}
.container { 
	width: 375px;
	margin: 0 auto;
	text-align: center;
}

.Articles {
	margin: 0 auto;
	list-style-type: none;
	text-align: left;

}

